hr {
    border:none;
    border-top:1px solid #ccc;
    height: 5px;
    width:100%;
 }
 .list-group-item {
    cursor: pointer;
 }
 .padding20 .content-set { padding: 20px 0; display: flow-root; clear: both; border-bottom: solid 1px #ccc; }

 /* .navbar-brand { padding: 7px 15px;} */
 body {
    padding-top: 80px;;
 }
 .row-pad-4 {
   padding: 4px 0;
}
#set-content .row-pad-4:first-child{ padding-top: 0;}